p {
    font-family: 'Courier New', Courier, monospace;
}

p.bold {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#rb { background-color: red }

#lb { background-color: green }

#frametime {font-family: monospace}

button {
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 40px;
    border-style: solid;
    border-width: 2.0px;
    border-color: black;
}

button:hover {
    border-color: gray;
    border-width: 3.5px;
}

#bmxb {
    width: 40px;
    height: 40px;
}