body {
    overflow: hidden;
    background-color: black;
}

h1 {
    position: relative;
    top: 5vh;
    color: yellow;
    font-size: 48pt;
    text-align: center;
    font-family: monospace;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;

    z-index: -1;
}

.button {
    position: absolute;
    bottom: 10vh;

    width: 15vw;
    height: 15vw;

    border-radius: 50%;
    border: none;

    font-size: 32pt;
    font-family: sans-serif;
    font-variant: small-caps;
}

.button:focus {
    outline: none;
}

#ignore {
    left: 7.5vw;
    background-color: rgba(243, 71, 48, 0.667);
}

#ignore:hover {
    background-color: rgba(243, 71, 48, 0.74);
}

#ignore:active {
    background-color: rgba(243, 71, 48, 0.938);
}

#trigger {
    right: 7.5vw;
    background-color: rgba(51, 173, 221, 0.667);
}

#trigger:hover {
    background-color: rgba(51, 173, 221, 0.712);
}

#trigger:active {
    background-color: rgba(51, 173, 221, 0.918);
}